<!DOCTYPE html>
<html lang="pt">
<head>
    <%- include("partials/head"); %>
	<link rel="stylesheet" type="text/css" href="stylesheets/drawings.css">
</head>
<body>
    <%- include("partials/loader"); %>
    <%- include("partials/navs"); %>

    <!-- CONTENT  -->
 
    <div class="col-lg-12 margin">
        <h2>3D Modeling</h2>
        <h3>3D models I did before using Autodesk Maya and  Zbrush</h3>
    </div>
    <div class="col-lg-8 row griddrawings" >
        <div class="coluna">
            <a href="img/3D/1-min.jpg" data-lightbox="dim"><img src="img/3D/1-min.jpg"></a>
            <a href="img/3D/5-min.jpg" data-lightbox="dim"><img src="img/3D/5-min.jpg"></a>
            <a href="img/3D/vanessa-rieven-untitled-101.jpg" data-lightbox="dim"><img src="img/3D/vanessa-rieven-untitled-101.jpg"></a>
        </div>
        <div class="coluna">
            <a href="img/3D/2-min.jpg" data-lightbox="dim"><img src="img/3D/2-min.jpg"></a>
            <a href="img/3D/4-min.jpg" data-lightbox="dim"><img src="img/3D/4-min.jpg"></a>
            <a href="img/3D/vanessa-rieven-zbrush-girl.jpg" data-lightbox="dim"><img src="img/3D/vanessa-rieven-zbrush-girl.jpg"></a>
        </div>
        <div class="coluna">
            <a href="img/3D/3-min.jpg" data-lightbox="dim"><img src="img/3D/3-min.jpg"></a>
            <a href="img/3D/7-min.jpg" data-lightbox="dim"><img src="img/3D/7-min.jpg"></a>
            <a href="img/3D/6-min.jpg" data-lightbox="dim"><img src="img/3D/6-min.jpg"></a>
        </div>
    </div>

    <div class="col-lg-10 offset-lg-1">
        <span class='animated-arrow'>
            <span class='the-arrow -left'>
              <span class='shaft'></span>
            </span>
            <span class='main'>
                <span class='text'>
                    Back to top
                </span>
                <span class='the-arrow -right'>
                    <span class='shaft'></span>
                </span>
            </span>
        </span>
    </div>

    <%- include("partials/bgeffects"); %>
	<%- include("partials/scripts"); %>
</body>
</html>