<!DOCTYPE html>
<html lang="pt">
<head>
    <%- include("partials/head"); %>
	<link rel="stylesheet" type="text/css" href="stylesheets/drawings.css">
</head>
<body>
    <%- include("partials/loader"); %>
    <%- include("partials/navs"); %>

    <!-- CONTENT  -->
 
    <div class="col-lg-12 margin">
        <h2>Drawings & Paintings</h2>
        <h3>Traditional pencil drawings done with graphite, colored pencils and pens.</h3>
    </div>
    <div class="col-lg-8 row griddrawings" >
        <div class="coluna">
            <a href="img/drawings/1.jpg" data-lightbox="drawings"><img src="img/drawings/1.jpg"></a>
            <a href="img/drawings/888.jpg" data-lightbox="drawings"><img src="img/drawings/888.jpg"></a>
            <a href="img/drawings/20171123144922.jpg" data-lightbox="drawings"><img src="img/drawings/20171123144922.jpg"></a>
            <a href="img/drawings/CA1C7A6B-89B7-43A0-A892-FCBAFB15CF56.jpg" data-lightbox="drawings"><img src="img/drawings/CA1C7A6B-89B7-43A0-A892-FCBAFB15CF56.jpg"></a>
            <a href="img/drawings/Dark_Souls_01.jpg" data-lightbox="drawings"><img src="img/drawings/Dark_Souls_01.jpg"></a>
            <a href="img/drawings/Jeffrey_Chang_03.jpg" data-lightbox="drawings">  <img src="img/drawings/Jeffrey_Chang_03.jpg"></a>
            <a href="img/drawings/Model_01.jpg" data-lightbox="drawings"><img src="img/drawings/Model_01.jpg"></a>
            <a href="img/drawings/Robert_Downey_JR_02.JPG" data-lightbox="drawings"><img src="img/drawings/Robert_Downey_JR_02.JPG"></a>
            <a href="img/drawings/Tomb_Raider_01.JPG" data-lightbox="drawings"><img src="img/drawings/Tomb_Raider_01.JPG"></a>
            <a href="img/drawings/X-MEN_02.jpg" data-lightbox="drawings"><img src="img/drawings/X-MEN_02.jpg"></a>
        </div>
        <div class="coluna">
            <a href="img/drawings/7BD01C39-6AA7-4CB6-9778-635117B66193.jpg" data-lightbox="drawings"><img src="img/drawings/7BD01C39-6AA7-4CB6-9778-635117B66193.jpg"></a>
            <a href="img/drawings/1234.jpg" data-lightbox="drawings"><img src="img/drawings/1234.jpg"></a>
            <a href="img/drawings/20180219173904_00006.jpg" data-lightbox="drawings"><img src="img/drawings/20180219173904_00006.jpg"></a>
            <a href="img/drawings/Avô_01.JPG" data-lightbox="drawings"><img src="img/drawings/Avô_01.JPG"></a>
            <a href="img/drawings/E220DAE0-EFC2-4922-9044-AC412ED39983.jpg" data-lightbox="drawings"><img src="img/drawings/E220DAE0-EFC2-4922-9044-AC412ED39983.jpg"></a>
            <a href="img/drawings/Gong_Joon_01.jpg" data-lightbox="drawings"><img src="img/drawings/Gong_Joon_01.jpg"></a>
            <a href="img/drawings/Kratos_02.jpg" data-lightbox="drawings"><img src="img/drawings/Kratos_02.jpg"></a>
            <a href="img/drawings/Ruki_02.JPG" data-lightbox="drawings"><img src="img/drawings/Ruki_02.JPG"></a>
            <a href="img/drawings/Vikings_01.jpg" data-lightbox="drawings"><img src="img/drawings/Vikings_01.jpg"></a>
        </div>
        <div class="coluna">
            <a href="img/drawings/8DE8DC67-7047-41DD-9EF4-00799D76ADD9.jpg" data-lightbox="drawings"><img src="img/drawings/8DE8DC67-7047-41DD-9EF4-00799D76ADD9.jpg"></a>
            <a href="img/drawings/17085BEF-E7D5-4363-93C1-6DD65D3FE2AF.jpg" data-lightbox="drawings"><img src="img/drawings/17085BEF-E7D5-4363-93C1-6DD65D3FE2AF.jpg"></a>
            <a href="img/drawings/20180609170620_001.jpg" data-lightbox="drawings"> <img src="img/drawings/20180609170620_001.jpg"></a>
            <a href="img/drawings/Chester_03.jpg" data-lightbox="drawings"><img src="img/drawings/Chester_03.jpg"></a>
            <a href="img/drawings/Joker_02.JPG" data-lightbox="drawings"><img src="img/drawings/Joker_02.JPG"></a>
            <a href="img/drawings/Ollan_Rogers_01.jpg" data-lightbox="drawings"><img src="img/drawings/Ollan_Rogers_01.jpg"></a>
            <a href="img/drawings/Snake_02.jpg" data-lightbox="drawings"><img src="img/drawings/Snake_02.jpg"></a>
            <a href="img/drawings/Untitled-1.jpg" data-lightbox="drawings"><img src="img/drawings/Untitled-1.jpg"></a>
            <a href="img/drawings/Yoda_01.jpg" data-lightbox="drawings"> <img src="img/drawings/Yoda_01.jpg"></a>
        </div>
    </div>

    <div class="col-lg-10 offset-lg-1">
        <span class='animated-arrow'>
            <span class='the-arrow -left'>
              <span class='shaft'></span>
            </span>
            <span class='main'>
                <span class='text'>
                    Back to top
                </span>
                <span class='the-arrow -right'>
                    <span class='shaft'></span>
                </span>
            </span>
        </span>
    </div>

    <%- include("partials/bgeffects"); %>
	<%- include("partials/scripts"); %>
</body>
</html>