<!DOCTYPE html>
<html lang="pt">
<head>
	<%- include("partials/head"); %>
</head>
<body>
	<div class="main-container">
		<%- include("partials/loader"); %>
		<%- include("partials/navs"); %>
		
	   <!-- CONTENT  -->
	   <div class="col-lg-12 margin row">
			<div class="col-lg-3 col-md-12">
				<h1>PORT-</h1>
				<h1>FOLIO</h1>
			</div>
			<div class="col-lg-9 col-md-12 line">
				<h2 class="ml11">
					<span class="text-wrapper">
					<span class="line line1"></span>
					<span class="letters">Who am I</span>
					</span>
				</h2>
			</div>
		</div>
		<div class="col-lg-9 offset-lg-3 col-md-12 whomami_section">
			<p class="whoami">
				Vanessa Rieven is a fictional name, never liked having my name around the internet, but hi, I'm Vanessa (for real). <br>
				I work as a Front-End Developer, also I'm a weirdo who loved to do way too much stuff, from drawing to 3D Modeling to programing and Web Design, making art and studying more will always be part of me. I'm also a nerd (really?), I enjoye being a nerdy gamer, getting lost in books, binging series and filling my walls with Avengers, Anime and Rock bands posters.
				Oh! And I drink a lot of tea, like, a lot...
			</p>
		</div>
		<div class="col-lg-11 offset-lg-1 col-md-12 row split">
			<div class="row icon">
				<img src="img/icons/art.png">
				<hr>
				<p>Sometimes an artist, others a programmer</p>
			</div>
			<div class="row icon">
				<img src="img/icons/pc.png">
				<hr>
				<p>I work as a Front End Developer and working towards becoming a Full Stack.</p>
			</div>
			<div class="row icon">
				<img src="img/icons/3d.png">
				<hr>
				<p>My background was all about 3D modeling, nowadays I do it as a hobby.</p>
			</div>
			<div class="row icon">
				<img src="img/icons/game.png">
				<hr>
				<p>I'm a gamer, Final Fantasy and MGS will always be my biggest passions!</p>
			</div>
			<div class="row icon">
				<img src="img/icons/music.png">
				<hr>
				<p>Most days just wanna headbang and others just feel like chillin' with Lofi</p>
			</div>
			<div class="row icon">
				<img src="img/icons/video.png">
				<hr>
				<p>A sucker for Korean Dramas and TV Series</p>
			</div>
		</div>

	</div>

	<%- include("partials/bgeffects"); %>

	<%- include("partials/scripts"); %>

</body>

</html>