<!DOCTYPE html>
<html lang="pt">
<head>
    <%- include("partials/head"); %>
    <link rel="stylesheet" type="text/css" href="stylesheets/projects.css">
</head>
<body>
    <%- include("partials/loader"); %>
    <%- include("partials/navs"); %>

    <!-- MODALS  -->
    <div id="modal-container">
        <div class="modal-background">
            <div class="modals">
                
            </div>
        </div>
    </div>
        
     <!-- CONTENT  -->
     <div class="col-lg-12 margin">
        <h2>Projects</h2>
        <h3>Projects I did in school or as a hobby</h3>
    </div>
    <div class="row projectsgrid" >
        <div class="coluna" onclick="modalshow('alias')">
            <img src="img/projects/671311516.00_00_09_22.Quadro001.jpg">
        </div>
        <div class="coluna" onclick="modalshow('videos')">
            <img src="img/projects/drawings.jpg">
        </div>
    </div>

    <%- include("partials/bgeffects"); %>
	<%- include("partials/scripts"); %>
    <script src="javascripts/projects.js"></script> 
</body>
</html>