<!DOCTYPE html>
<html lang="pt">
<head>
    <%- include("partials/head"); %>
    <link rel="stylesheet" type="text/css" href="stylesheets/web.css">
</head>
<body>
    <%- include("partials/loader"); %>
    <%- include("partials/navs"); %>
   
    <!-- MODALS  -->
    <div id="modal-container">
        <div class="modal-background">
            <div class="modals">
            </div>
        </div>
    </div>
        
    <!-- CONTENT  -->
 
    <div class="col-lg-12 margin">
        <h2>Web Design</h2>
        <h3>Some few works I did designing Websites using mostly Adobe XD</h3>
    </div>
    <div class="col-lg-8 row designs" >
        <div class="coluna">
            <img onclick="modalshow('stradi')" src="img/projects/3.jpg">
        </div>
        <div class="coluna">
            <img onclick="modalshow('v1')" src="img/projects/1.png">
            <img onclick="modalshow('v3')" src="img/projects/v3.jpg">
        </div>
        <div class="coluna">
            <img onclick="modalshow('v2')" src="img/projects/v2.jpg"> 
        </div>
    </div>


    <%- include("partials/bgeffects"); %>
	<%- include("partials/scripts"); %>
    <script src="javascripts/web.js"></script> 
</body>
</html>